<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPeople" />
                <binding name="BasicHttpBinding_IPeople1" />
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="http://pacecs612.azurewebsites.net/People.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeople"
          contract="PeopleService.IPeople" name="HostedPeople" />
        <endpoint address="http://localhost:2100/People.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPeople1" contract="PeopleService.IPeople"
          name="local" />
      </client>
    </system.serviceModel>
</configuration>